.d-flex-center {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
}
.validators {
    margin-top: 10px; /* Un poco de espacio entre el elemento anterior */
    color: var(--ion-color-danger); /* Color del texto para mensajes de error */
    font-size: 14px; /* Tamaño del texto para mensajes de error */
}
.auth-form {
    text-align: center; /* Alinea el contenido del formulario al centro */
}
.submit {
    color: white; /* Cambiar el color del texto del botón */
    --background: var(--ion-color-secondary);;
    
    border: none; /* Eliminar el borde del botón */
    font-size: 150%; /* Aumentar el tamaño de letra del texto del botón */
    border-radius: 50px; /* Agregar esquinas redondeadas al botón */
    font-weight: bold; /* Aumentar el grosor del texto del botón */
    width: 60%; /* Ancho más pequeño para el botón */
    margin-left: auto; /* Centrar el botón */
    margin-right: auto; /* Centrar el botón */
}