.mi-footer {
    background-color: var(--ion-color-secondary); /* Color de fondo deseado */
    padding: 20px; /* Añade espacio alrededor del contenido del footer, opcional */
    color: white; /* Color del texto en el footer, opcional */
}
