.mi-footer {
    background-color: var(--ion-color-secondary);
    /* Color de fondo deseado */
    padding: 20px;
    /* Añade espacio alrededor del contenido del footer, opcional */
    color: white;
    /* Color del texto en el footer, opcional */
}

ion-card {
    border-radius: 15px;
    display: flex;
    margin: 10px;
    gap: 100px;
}

.indicadorWifi{
    width: 4em;
    height: 4em;
}